@font-face {
  font-family: "iconfont"; /* Project id  */
  src: url('@/common/fonts/iconfont.ttf?t=1663907618665') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-share:before {
  content: "\e626";
}

.icon-share1:before {
  content: "\e62c";
}

